.portfolio {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
    background: var(--second-bg-color);
}

.portfolioContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2.5rem;
}

.portfolioBox {
    position: relative;
    border-radius: 1.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    overflow: hidden;
    display: flex;
    height: 300px;
}

.portfolioBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease;
}

.portfolioBox:hover img {
    transform: scale(1.1);
}

.portfolioLayer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 2rem;
    transform: translateY(100%);
    transition: 0.5s ease;
    backdrop-filter: blur(2px);
}

.portfolioBox:hover .portfolioLayer {
    transform: translateY(0);
}

.portfolioLayer h4 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #fff;
}

.portfolioLayer p {
    font-size: 1rem;
    margin-bottom: 2rem;
    color: #f0f0f0;
    line-height: 1.4;
}

.portfolioLayer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    background: #fff;
    border-radius: 50%;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--main-color);
}

@media (max-width: 617px) {
    .portfolioContainer {
        grid-template-columns: 1fr;
    }
}