.skills {
    min-height: 100vh;
    padding: 2rem 9% 1rem;
    background: var(--bg-color);
}

.skillsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2.5rem;
}

.skillBox {
    background: var(--second-bg-color);
    padding: 3rem 2rem;
    border-radius: 1.5rem;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.05);
    transition: 0.4s ease;
}

.icon {
    font-size: 4rem;
    color: var(--main-color);
    margin-bottom: 1.5rem;
}

.skillBox h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.skillBox ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

.skillBox ul li {
    font-size: 0.95rem;
    color: var(--dim-text);
    line-height: 1.5;
    margin-bottom: 0.6rem;
    position: relative;
    padding-left: 1.2rem;
}

.skillBox ul li::before {
    content: "•";
    position: absolute;
    left: 0;
    color: var(--main-color);
    font-weight: bold;
}