.skills {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
    background: var(--bg-color);
}

.skillsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2.5rem;
}

.skillBox {
    background: var(--second-bg-color);
    padding: 3rem 2rem;
    border-radius: 1.5rem;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.05);
    transition: 0.4s ease;
}

.icon {
    font-size: 4rem;
    color: var(--main-color);
    margin-bottom: 1.5rem;
}

.skillBox h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.skillBox p {
    font-size: 1rem;
    color: var(--dim-text);
    line-height: 1.6;
}