.contact {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
    background: var(--second-bg-color);
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .inputBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .inputBox input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: 0.8rem;
    margin: 0.7rem 0;
    border: 1px solid rgba(255, 255, 255, 0.05);
}

.contact form .inputBox input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .inputBox input:focus,
.contact form textarea:focus {
    border-color: var(--main-color);
}

@media (max-width: 991px) {
    .contact {
        min-height: auto;
    }
}

@media (max-width: 450px) {
    .contact form .inputBox input {
        width: 100%;
    }
}