.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--bg-color);
}

.footerText p {
    font-size: 1rem;
    color: var(--dim-text);
}

.footerIconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    background: var(--main-color);
    border-radius: 0.8rem;
    transition: 0.5s ease;
    text-decoration: none;
    cursor: pointer;
}

.footerIconTop a:hover {
    box-shadow: 0 0 10px var(--main-color);
}

.footerIconTop a :global(svg) {
    font-size: 1.5rem;
    color: var(--bg-color);
}

@media (max-width: 991px) {
    .footer {
        padding: 2rem 3%;
    }
}